.community {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: auto;
}
.content_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  overflow-y: auto;
}

.add_button {
  position: absolute;
  bottom: 25px;
  right: 25px;
  border-radius: 50%;
  background-color: #f26666;
}

.add_button:hover {
  opacity: 0.8;
}

.plus {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.8em;
}

.add_list {
  position: absolute;
  bottom: 40px;
  right: 5px;
  width: 5rem;
  text-align: center;
}

.add_item.active {
  cursor: pointer;
  display: block;
  background-color: #eee;
}

.add_item.active:hover {
  background-color: rgb(226, 247, 255);
  transition: 0.3s ease-in-out;
}

.add_item {
  display: none;
  border: 1px solid lightgray;
  width: 5rem;
  padding: 0.3em 0;
}

.add_item > span {
  margin-right: 0.5em;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top: 3px solid #ffc3c3;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
