.profile {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* justify-content: space-between; */
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

.header {
  border-bottom: 5px solid lightgray;
  padding: 1em 0.5em;
}

.user_box {
  display: flex;
  align-items: center;
  border-bottom: 5px solid lightgray;
  padding: 1em 0.5em;
}

.user_photo {
  width: 3.5rem;
  border-radius: 50%;
}

.user_info {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  font-weight: bold;
  font-size: 1.2rem;
}

.my_profile {
  overflow-y: auto;
}

.application_list,
.community_list,
.public_list {
  border-bottom: 1px solid lightgray;
  padding: 1em 0;
}

.application_list > li,
.community_list > li,
.public_list > li {
  padding: 0.8em 0.5em;
}

.application_list > li > span,
.community_list > li > span,
.public_list > li > span {
  margin-left: 0.5em;
  font-size: 1rem;
}

.survey {
  background-color: pink;
  color: white;
  padding: 1em;
  margin-top: 1em;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  width: 100%;
}

.logout {
  margin-bottom: 0.5em;
  margin: 0 auto;
  width: 100%;
}

.logout_button {
  border: none;
  background-color: transparent;
  margin-left: 0.5em;
  font-size: 1rem;
  cursor: pointer;
}

/* .navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
} */
