.add_content {
  height: 100%;
}

.title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.cancel {
  border: none;
  margin-left: 1em;
  padding: 0.5em;
  background-color: transparent;
  cursor: pointer;
}

.title > h2 {
  margin: 0.8em 1em;
}

.form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 90%;
}

.image_box {
  display: flex;
  margin-left: 0.5em;
  /* border-bottom: 1px solid lightgray; */
}

.file {
  padding: 1em 0.5em;
}

.content_imgs {
  margin: 1em 0.5em;
}

.clear_button {
  border: none;
  cursor: pointer;
  margin-left: 0.8em;
  padding: 0.3em;
  background-color: transparent;
}

.form_title,
.name,
.breed,
.age,
.gender,
.weight,
.content_info,
.submit_button,
.category {
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 0.5em;
  font-size: 1.2rem;
}
.form_title::placeholder,
.content_info::placeholder,
.submit_button::placeholder {
  opacity: 0.5;
}

.category {
  border: 1px solid lightgray;
  background-color: transparent;
}

.content_info {
  height: 100%;
  border: 1px solid lightgray;
}

.submit_button {
  cursor: pointer;
  background-color: skyblue;
  color: white;
  font-weight: 600;
  transition: 0.3s linear;
}

.submit_button:disabled {
  background-color: lightgray;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top: 3px solid skyblue;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
