.admin {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.header {
  border-bottom: 5px solid lightgray;
  padding: 1em 0.5em;
}

.application {
  overflow: auto;
}

.application > h3 {
  margin: 1em 0;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top: 3px solid skyblue;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
