.content_item {
  width: 100%;
  border-top: 4px solid lightgray;
  border-bottom: 4px solid lightgray;
  padding: 0.5em;
  cursor: pointer;
  overflow: hidden;
}

.content_wrap {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

.content_img {
  align-self: center;
  width: 50%;
  margin-bottom: 1.5em;
}

.content_info {
  font-size: 0.8rem;
  line-height: 25px;
  margin-bottom: 1em;
}

.category {
  display: inline-block;
  background-color: lightgray;
  border-radius: 5px;
  padding: 0 0.5em;
  font-size: 0.7rem;
  margin-bottom: 1em;
}

.content_text {
  font-size: 1rem;
}

.user_name {
  opacity: 0.8;
}
