.likeBox {
  display: inline-block;
  border: 1px solid lightslategray;
  border-radius: 5px;
  line-height: 10px;
  padding: 0.2em;
  margin-left: 0.3em;
}

.like_button {
  background-color: transparent;
  border: none;

  cursor: pointer;
  font-size: 0.6rem;
}
/* 
.like_button > span {
  margin-left: 0.3em;
} */

.count {
  font-size: 0.8rem;
}
