.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  position: relative;
}

.cancel {
  border: none;
  margin-left: 1em;
  padding: 0.5em;
  background-color: transparent;
  cursor: pointer;
}

.header > h2 {
  margin: 0.8em 1em;
}

.menu {
  position: absolute;
  right: -5px;
  top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_button {
  cursor: pointer;
  width: 7rem;
  text-align: center;
  padding: 0.5em;
}

.menu_list {
  display: none;
  margin-top: 0.5em;
  background-color: white;
  border: 1px solid lightgray;
  text-align: center;

  /* padding: 0.5em; */
}
.menu_list > li {
  padding: 0.5em;
}

.menu_list > li:hover {
  cursor: pointer;
  background-color: lightblue;
  width: 100%;
}

.menu_list.active {
  display: block;
}

.info {
  margin: 0.5em;
}

.info_category {
  display: inline-block;
  background-color: lightgray;
  font-size: 0.7rem;
  border-radius: 5px;
  padding: 0.3em;
  margin-bottom: 1.5em;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid lightgray;
}

.user_img {
  border-radius: 50%;
  margin-right: 0.5em;
}

.user_name {
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2em;
}

.content > p {
  margin-bottom: 2em;
}

.content > img {
  margin: 0 auto;
}

.comment_container {
  margin: 0.5em;
  position: relative;
}

.comment_container h4 {
  margin-bottom: 0.5em;
}

.comment_input {
  padding: 0.8em;
  background-color: rgb(230, 230, 230);
  border: none;
  outline: none;
  border-radius: 10px;
  width: 100%;
}

.uploaded_comment {
  margin-bottom: 2em;
}

.comment_writer {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.comment_button {
  position: absolute;
  right: 2px;
  bottom: 1px;
  background-color: skyblue;
  padding: 0.7em;
  border: none;
  border-radius: 50%;
}

.comment_button.active {
  display: block;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top: 3px solid skyblue;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
