.nav_list {
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
  padding: 0.5em;
  height: 4rem;
}

.nav_list > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 5rem;
  text-align: center;
  cursor: pointer;
}

.nav_list > li > a.active {
  background-color: darksalmon;
}

.nav_list > li > a > span {
  margin-top: 0.5em;
}

.nav_text {
  font-size: 0.9rem;
}
