.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #48bbed;
  width: 100%;
  height: 100%;
  position: absolute;
}

.title {
  color: white;
  font-size: 8rem;
  margin-bottom: 0.5em;
}

.login_button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.8em;
  cursor: pointer;
  font-size: 1.5rem;
}

.login_button:hover {
  color: #48bbed;
  background-color: white;
  transition: 0.2s ease-in-out;
}
