.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #74d5ff;
  width: 100%;
  height: 100%;
  position: absolute;
}

.title {
  color: white;
  font-size: 5rem;
  margin-bottom: 0.3em;
}

.logo {
  display: inline-block;
  width: 11rem;
  margin-bottom: 2em;
}

.login_button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.8em;
  cursor: pointer;
  font-size: 1.2rem;
  white-space: nowrap;
}

.login_button:hover {
  color: #74d5ff;
  background-color: white;
  transition: 0.2s ease-in-out;
}
