.add_content {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  position: relative;
}

.cancel {
  border: none;
  margin-left: 1em;
  padding: 0.5em;
  background-color: transparent;
  cursor: pointer;
}

.header > h2 {
  margin: 0.8em 1em;
}

.menu {
  position: absolute;
  right: -5px;
  top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_button {
  cursor: pointer;
  width: 7rem;
  text-align: center;
  padding: 0.5em;
}

.menu_list {
  display: none;
  margin-top: 0.5em;
  background-color: white;
  border: 1px solid lightgray;
  text-align: center;

  /* padding: 0.5em; */
}
.menu_list > li {
  padding: 0.5em;
}

.menu_list > li:hover {
  cursor: pointer;
  background-color: lightblue;
  width: 100%;
}

.menu_list.active {
  display: block;
}

.pet_img {
  width: 100%;
}

.pet_info {
  margin: 0.7em;
}

.pet_info > p {
  margin-bottom: 0.5em;
}

.apply {
  margin-top: 1em;
}

.apply_button {
  width: 100%;
  padding: 1em;
  border: none;
  background-color: skyblue;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
