.pet_info {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  position: relative;
}

.backspace {
  border: none;
  margin-left: 1em;
  padding: 0.5em;
  background-color: transparent;
  cursor: pointer;
}

.header > h2 {
  margin: 0.8em 1em;
}

.menu {
  position: absolute;
  right: -5px;
  top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_button {
  cursor: pointer;
  width: 7rem;
  text-align: center;
  padding: 0.5em;
}

.menu_list {
  display: none;
  margin-top: 0.5em;
  background-color: white;
  border: 1px solid lightgray;
  text-align: center;
}
.menu_list > li {
  padding: 0.5em;
}

.menu_list > li:hover {
  cursor: pointer;
  background-color: lightblue;
  width: 100%;
}

.menu_list.active {
  display: block;
}

.pet_img {
  width: 100%;
  height: 300px;
}

.pet_detail > h3 {
  border-bottom: 1px solid lightgray;
  padding: 1em 0.5em;
}

.detail_info li {
  border-bottom: 1px solid lightgray;
  display: flex;
}

.detail_info > li > span:first-child {
  width: 6rem;
  font-weight: 600;
  text-align: center;
  background-color: #eee;
  padding: 0.5em;
}

.detail_info > li > span:last-child {
  background-color: #fff;
  padding: 0.5em;
  flex: 1;
}

/* .character {
  margin-bottom: 0.5em;
} */

.apply_button {
  width: 100%;
  padding: 1em;
  border: none;
  background-color: #9ce2ff;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top: 3px solid skyblue;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
