.comment_container {
  height: 100%;
}

.comment_input_box {
  display: flex;
  width: 100%;
}

.comment_input {
  padding: 1em;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
}

.uploaded_comment {
  margin-bottom: 2em;
}

.comment_button {
  background-color: skyblue;
  color: white;
  padding: 0.7em;
  border: none;
  width: 3rem;
  height: 3rem;
}

.comment_button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top: 3px solid skyblue;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
