.comment_container {
  position: relative;
  height: 100%;
}

.comment_container h4 {
  padding: 0.8em 0.5em;
  border-bottom: 1px solid lightgray;
}

.comments_ul {
  overflow-y: auto;
  padding: 0 0.5em;
}

.comment_list {
  margin-bottom: 0.5em;
}

.comment_writer {
  display: inline-block;
  font-weight: bold;
  font-size: 0.9rem;
}

.commentText {
  font-size: 0.8rem;
}

.comment_input_box {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  padding: 0.5em 0.3em;
}

.comment_input {
  padding: 0.8em;
  background-color: #eee;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 100%;
}

.uploaded_comment {
  margin-bottom: 2em;
}

.comment_button {
  position: absolute;
  right: 2px;
  bottom: 1px;
  background-color: skyblue;
  color: white;
  padding: 0.7em;
  border: none;
  border-radius: 50%;
}

.comment_button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top: 3px solid skyblue;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
