.login_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

/* .login {
  width: 100%;
  margin: 0 auto;
} */

.login_title {
  text-align: center;
  margin-bottom: 0.8em;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_id {
  width: 70%;
  padding: 0.5em;
  margin-bottom: 0.3em;
  border: 1px solid lightgray;
  border-radius: 10px;
  outline: none;
}
.input_password {
  width: 70%;
  padding: 0.5em;
  margin-bottom: 0.3em;
  border: 1px solid lightgray;
  border-radius: 10px;
  outline: none;
}
.login_button {
  width: 70%;
  padding: 0.5em;
  margin-bottom: 0.3em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: skyblue;
  font-weight: 600;
}

.login_button:hover {
  opacity: 0.8;
}

.google_box {
  display: flex;
  justify-content: center;
}

.google_login {
  width: 70%;
  padding: 0.5em;
  margin-bottom: 0.3em;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  background-color: white;
}

.google_login:hover {
  background-color: rgb(255, 233, 236);
  transition: 0.2s ease-in-out;
}
