.my_info {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.logout {
  margin-bottom: 0.5em;
  margin: 0 auto;
}

.logout_button {
  background-color: skyblue;
  color: white;
  padding: 1em;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}
